Log in!
<a href="https://previews.123rf.com/images/krisdog/krisdog1606/krisdog160600108/60175363-a-happy-world-earth-day-heart-mascot-globe-cartoon-character-giving-thumbs-up.jpg">This is what happens when you do good things!</a>
<% if flash[:message] %>
<h3><%= flash[:message] %></h3>
<% end %>
<form class="" action="/login" method="post">
  <label for="email">Email: </label>
  <input type="text" name="email" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" value="">
  <input class="btn btn-info" type="submit" value="Login">
</form>

<a href="/">Back</a>
