<h1>Sign Up!</h1>
<p> </p> 
<a href="https://thumbs.dreamstime.com/z/woman-excited-laptop-15819968.jpg">Click here if you're a philanthropist!</a>
<p> </p>
<a href="https://resetstrategies.com/wp-content/uploads/2013/12/giving-money-800x500-790x500.jpg">Click here if you're a humanitarian!</a>
<p> </p>


<form class="" action="/users" method="post">
  <label style="color:pink;"for="name">Name:</label>
 <input type="text" name="name" value="">
 <label style="color :pink;" for="email">Email:</label>
 <input type="text" name="email" value="">
 <label style="color :pink;"" for="password">Password:</label>
 <input type="text" name="password" value="">
 <input type="submit" name="" value="Create User">
</form>

<p> </p>
<a href="/">Back</a>
