<body class="home-page-bkgd">
  <div class="home-page-container">
    <div class="text-center">

<h1 style="color: pink;">Welcome to Good Person Tracker App!</h1>
<h2 style="color: pink;">Where You Track Your Good Deeds!</h2>

<a href="/login">Log In:</a> OR <a href="/signup">Sign Up:</a>


</div>
</div>
</body>
