ALL GOOD DEEDS
<p> </p>
<% @good_deeds.each do |good_deed| %>
  <h4><a href="/good_deeds/<%= good_deed.id %>"><%=
    good_deed.formatted_created_at %></a></h4>
    <p><%= good_deed.content %></p>
    <p> By <%= good_deed.user.name %></p>
<br><br>
<% end %>
