<h1><strong><center> ALL GOOD DEEDS:</center></strong> </h1>
<img src="https://img.pngio.com/picture-for-world-earth-day-happy-world-png-384_384.png" alt="poop" title="image">

<a href="https://images.megapixl.com/1627/16276754.jpg"><strong>Click here to be encouraged!</strong></a>
<p> </p>
<% @good_deeds.each do |good_deed| %>
  <h4><center><a href="/good_deeds/<%= good_deed.id %>"><%=
    good_deed.formatted_created_at %></a></center></h4>
    <p><center><%= good_deed.content %></center></p>
    <p><center> By <%= good_deed.user.name %></center></p>
<br><br>
<% end %>
