<h2><strong>Enter a new Good Deed:</strong> </h2>

<form class="" action="/good_deeds" method="post">
  <label for="name">Content:</label>
  <input type="text" name="content" value="">
  <input class="btn btn-info" type="submit" name="" value="Submit Entry">
</form>
